.friend{
    flex: 0 1 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.friend img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.friend p{
    word-break: break-all;
}