.newMessage{

}

.newMessage textarea{
    width: 100%;
    resize: none;
    height: 100px;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 0 0 15px;
}

.newMessage button{
    padding: 15px 25px;
    text-transform: uppercase;
    cursor: pointer;
}